appdirs==1.4.4
argcomplete==3.6.3
attrs==26.1.0
bcrypt==4.3.0
borgbackup==1.4.1
brotli==1.2.0
cepces==0.3.16
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
cmdln==2.0.0
configobj==5.0.9
createrepo_c==1.2.3
crit==4.2
cryptography==46.0.6
cssselect==1.4.0
cupshelpers==1.0
decorator==5.2.1
distro==1.9.0
gssapi==1.11.1
guake==3.10
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
i3ipc==2.2.1
idna==3.11
importlib_resources==6.5.2
lightdm-gtk-greeter-settings==1.2.3
lxml==6.0.2
menulibre==2.4.0
msgpack==1.1.2
mugshot==0.4.3
mysqlclient==2.2.8
nftables==0.1
notify2==0.3.1
numpy==2.4.3
nwg-displays==0.3.26
olefile==0.47
opi==5.12.0
outcome==1.3.0.post0
packaging==26.0
pexpect==4.9.0
pillow==12.2.0
pipx==1.11.0
platformdirs==4.5.1
protobuf==7.34.1
psutil==7.2.2
ptyprocess==0.7.0
pyaml==26.2.1
pycairo==1.29.0
pycparser==3.0
pycriu==4.2
pycups==2.0.4
pycurl==7.45.6
pyfuse3==3.4.2
pygdbmi==0.11.0.0
PyGObject==3.56.2
pyinotify==0.9.6
pyOpenSSL==26.0.0
PyQt6==6.10.0
PyQt6_sip==13.10.2
pysmbc==1.0.25.1
PySocks==1.7.1
python-linux-procfs==0.7.3
python-xlib==0.33
pyudev==0.24.4
PyYAML==6.0.3
requests==2.33.1
requests-gssapi==1.4.0
rpm==4.20.1
scour==0.38.2
screeninfo==0.8.1
selinux @ file:///home/abuild/rpmbuild/BUILD/libselinux-bindings-3.10-build/libselinux-3.10/src
sepolicy @ file:///home/abuild/rpmbuild/BUILD/policycoreutils-3.10-build/policycoreutils-3.10/sepolicy
setools==4.6.0
setuptools==80.9.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
termcolor==3.3.0
tinycss2==1.5.1
trio==0.33.0
Unidecode==1.4.0
urllib3==2.6.3
userpath==1.9.2
webencodings==0.5.1
zstandard==0.25.0
